# dependencies
/node_modules

# next.js
/.next/
/out/

# tauri
/src-tauri/target/
/src-tauri/gen/
/src-tauri/resources/
/src-tauri/binaries/

# local database
*.db
*.db-journal
*.db-shm
*.db-wal

# env files
.env*
!.env.example

# claude code
.claude/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
